body {
    padding-top: 41px;
    padding-bottom: 41px;
    overflow: auto;
}

body {
    min-height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    background-color: #ffffff;
}

body {
    display: block;
}

body.app {
    position: relative;
}

header {
    display: block;
}

div, nav, form {
    display: block;
}

div.ex1 {
    background-color: white;
    width: 355px;
    height: 130px;
    overflow: auto;
}

div.ex2 {
    background-color: white;
    width: 159px;
    height: 130px;
    overflow: auto;
}

div.ex3 {
    background-color: white;
    width: 530px;
    height: 150px;
    overflow: scroll;
}

a {
    text-decoration: none;
}

.book-info{
    color: white !important;
    text-decoration: none;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

a, input, textarea, button {
    outline-style: none !important;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
    font-family: inherit;
    font-weight: bold;
    line-height: 20px;
    color: black;
    text-rendering: optimizelegibility;
}

h4 {
    display: block;
    -webkit-margin-before: 1.33em;
    -webkit-margin-after: 1.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

h4 {
    font-size: 17.5px;
}

.modal-huge h4 {
    color: #000000;
}

.modal-huge h6, .modal-huge p {
    margin: 0 0 5px;
}

h5 {
    font-size: 14px;
}

ul, ol {
    padding: 0;
    margin: 0 0 10px 25px;
}

ul, menu, dir {
    display: flex;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

li {
    line-height: 20px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

li {
    line-height: 20px;
}

.book-info li {
    float: left;
    width: auto;
    list-style: outside none none;
}


form {
    margin: 0 0 20px;
}

.navbar {
    overflow: visible;
    margin-bottom: 20px;
}

.navbar-inner {
    width: 1200px !important;
    height: 40px !important;
    min-height: 40px;
    background-color: #ebebeb;
    background-image: linear-gradient(to bottom,#ebebeb,#ebebeb);
    background-repeat: repeat-x;
    border: 1px solid #cccccc;
}

.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
    height: 40px;
    padding-left: 0;
    padding-right: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
    -webkit-box-shadow: 0 1px 10px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 10px rgba(0,0,0,.1);
    box-shadow: 0 1px 10px rgba(0,0,0,.1);
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
    border-width: 0 0 1px;
}

.navbar-fixed-bottom, .navbar-fixed-top {
    position: fixed;
}

.navbar-fixed-bottom {
    bottom: 0;
}

.navbar-fixed-top {
    top: 0;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    margin-bottom: 0;
}

.navbar-static-top {
    border-top: 1px solid #cccccc;
    margin-bottom: 20px;
}

.navbar-static-top {
    position: static;
}

.navbar-search .search-query {
    margin-bottom: 0;
    padding: 4px 14px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.navbar .nav {
    position: relative;
    left: 0;
    display: block;
    float: left;
    margin: 0 10px 0 0;
}

.navbar .btn, .navbar .btn-group {
    margin-top: 5px;
}

.navbar .nav > li {
    float: left;
}

.navbar-search {
    position: relative;
    margin-top: 5px;
    margin-bottom: 0;
}

.nav > li > a {
    display: block;
}

.mall-sidenav .nav > li > a {
    color: #666666;
}

.mall-sidenav .nav-list > li > a, .mall-sidenav .nav-list .nav-header {
    text-shadow: none;
}

.nav-list > li > a {
    padding: 3px 15px;
}

.nav-list > li > a, .nav-list .nav-header {
    margin-left: -15px;
    margin-right: -15px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

.nav {
    margin-left: 0;
    margin-bottom: 20px;
    list-style: none;
    display: block;
}

#mallnav .nav li a {
    color: #666666;
}

.navbar .nav > li > a {
    float: none;
    padding: 10px 15px 10px;
    text-decoration: none;
    text-shadow: 0 1px 0 #ebebeb;
}

.navbar .btn-group .btn, .navbar .input-prepend .btn, .navbar .input-append .btn, .navbar .input-prepend .btn-group, .navbar .input-append .btn-group {
    margin-top: 0;
}

.navbar-fixed-bottom .navbar-inner {
    background-color: #ffffff;
    background-image: linear-gradient(to bottom,#ffffff,#ffffff);
    background-repeat: repeat-x;
}

.navbar {
    overflow: visible;
    padding: 0;
}

.modal-footer .btn, .sidebar-nav .btn, .navbar .btn {
    color: white !important;
    text-shadow: none;
    background-color: rgb(102, 102, 102);
    background-image: linear-gradient(rgb(102, 102, 102), rgb(102, 102, 102));
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.modal-footer .btn:active, .modal-footer .btn.active, .sidebar-nav .btn:active, .sidebar-nav .btn.active, .navbar .btn:active, .navbar .btn.active {
    background-image: none;
    outline: 0;
    color: #ffffff;
    text-shadow: none;
    background-color: #72bf44;
    background-image: linear-gradient(to bottom,#72bf44,#72bf44);
    background-repeat: repeat-x;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}

.modal-footer .container-fluid, .sidebar-nav .container-fluid, .navbar .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
    height: 35px;
}

.modal-footer-book-info {
    background-color: #ffffff;
    border-top-color: #ffffff;
}

.modal-footer-book-info {
    padding: 14px 15px 15px;
    margin-bottom: 0;
    text-align: right;
    border-top: 1px solid #ddd;
    border-radius: 0 0 6px 6px;
    box-shadow: inset 0 1px 0 #fff;
}

.btn-group {
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
}

.btn-group > .btn:first-child {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.btn {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #ccc;
;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    border-radius: 4px;
}

.btn-group.open .btn.dropdown-toggle {
    background-image: none;
    color: #ffffff;
    text-shadow: none;
    background-color: #72bf44;
    background-image: -moz-linear-gradient(top,#72bf44,#72bf44);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#72bf44),to(#72bf44));
    background-image: -webkit-linear-gradient(top,#72bf44,#72bf44);
    background-image: -o-linear-gradient(top,#72bf44,#72bf44);
    background-image: linear-gradient(to bottom,#72bf44,#72bf44);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff72bf44', endColorstr='#ff72bf44', GradientType=0);
    border-color: #72bf44 #72bf44 #50882f;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}
.btn-group.open .btn.dropdown-toggle {
    background-color: #666666;
}

.mall-sidenav .nav > li > a:hover, .mall-sidenav .nav > li > a:focus {
    background-color: rgb(114, 191, 68);
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#mallnav .nav li a:hover, #mallnav .nav li a:focus {
    color: rgb(114, 191, 68);
}

.navbar .btn.active {
    background-image: none;
    outline: 0;
    color: #ffffff;
    text-shadow: none;
    background-color: #72bf44;
    background-image: linear-gradient(to bottom,#72bf44,#72bf44);
    background-repeat: repeat-x;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}

@media screen and (max-width: 1024px){
    .col-sm-3 {
        padding: 0;
    }
    .col-sm-9 {
        padding-left: 0;
    }
}

.pull-right {
    height: 35px;
    float: right;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding: 0;
}

.container:before, .container:after {
    display: table;
    content: "";
    line-height: 0;
}

.container:after {
    clear: both;
}

.container-fluid:after {
    clear: both;
}
.container-fluid:before, .container-fluid:after {
    display: table;
    content: "";
    line-height: 0;
}

.row {
    margin-left: -20px;
}

.row:after {
    clear: both;
}
.row:before, .row:after {
    display: table;
    content: "";
    line-height: 0;
}

.span3 {
    width: 220px;
}

.mall-sidenav {
    margin: 0 0 0;
    padding: 0;
}

.well {
    min-height: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}

.nav-list {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}
.item1 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

.item2 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 6;
}

.dropdown {
    position: relative;
    display: inline-block;
}



.dropdown-menu > li:hover > a, .dropdown-menu > li:focus > a, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
    text-decoration: none;
    color: #ffffff;
    background-color: #6db841;
    background-image: linear-gradient(to bottom,#72bf44,#66ae3c);
    background-repeat: repeat-x;
}
.dropdown a:hover {background-color: #ddd;}

<!---->

.dropdown-menu > li > a {
    display: block;
    clear: both;
    padding: 3px 20px;
    font-weight: normal;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    text-decoration: none;
}

.dropdown-menu {
    font-size: unset;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.sidenav-btn {
    font-size: 30px;
    padding-left: 20px;
    color: #ffffff;
    background-color: #666666;
    float: left;
    padding: 7px 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    display: inline-block;
}

/**/
/* Fixed sidenav, full height */
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f5f5f5;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
    color: #1f1f1f;
}

/* Main content */
.main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
    background-color: #72bf44;
    color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background: #f0f0f0;
    padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/**/

input[type="radio"] {
    -webkit-appearance: checkbox; /* Chrome, Safari, Opera */
    -moz-appearance: checkbox;    /* Firefox */
    -ms-appearance: checkbox;     /* not currently supported */
}

@media screen and (min-width: 1200px) {
     .app #wrapper {
        background-color: #ffffff;
        width: 1200px;
        margin: 0 auto;
        border-left: 1px solid #cccccc;
        border-right: 1px solid #cccccc;
        -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    }
}

@media screen and (min-width: 1200px) {
     .app .navbar-fixed-bottom, .app .navbar-fixed-top {
        margin: 0 auto;
        width: 1200px;
         height: 41px;
        border-left: 1px solid #cccccc;
        border-right: 1px solid #cccccc;
    }
}

@media (min-width: 1200px) {
     .app {
        background-color: #f3f3f3;
    }
}

@media (min-width: 980px) {
    .nav-collapse.collapse {
        height: 35px;
        overflow: visible !important;
        display: block;
    }
}

@media (min-width: 1200px) {
    .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
        width: 1170px;
    }
}

@media (min-width: 1200px) {
    .row-fluid {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .row-fluid:before, .row-fluid:after {
        display: table;
        content: "";
        line-height: 0;
    }
}

@media (min-width: 1200px) {
    .row-fluid:after {
        clear: both;
    }
}

@media (min-width: 1200px) {
    .row-fluid .offset3:first-child {
        margin-left: 25.64102564102564%;
    }
}

@media (max-width: 769px) {
    .navbar-fixed-top {
        margin-bottom: 0px;
    }
}

@media (max-width: 767px) {
    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
        margin-left: -20px;
        margin-right: -20px;
    }
}

@media (max-width: 979px) and (min-width: 768px) {
    .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
        width: 724px;
    }
}

@media (min-width: 1200px) {
    .span3 {
        width: 270px;
    }
}

@media (min-width: 1200px) {
    [class*="span"] {
        float: left;
        min-height: 1px;
    }
}

@media screen and (max-width: 800px) {
    .nav-collapse .collapse .navbar-responsive-colapse {
        display: none;
    }
}

.body-info {
    width: 560px;
    height: 650px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    background-color: #ffffff;
}

.center {
    margin: auto;
}

.modal-info {
    overflow: hidden;
}

.modal-huge {
    color: #575757;
    height: 650px;
}

.modal-huge .modal-body {
    max-height: 560px;
    overflow: hidden;
}

.modal-huge .teaser {
    color: #363636;
}

.modal-huge .title, .modal-huge .teaser {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #000000;
}

.modal-info {
    background-color: #ffffff;
}

.modal-info {
    position: fixed;
    top: 10%;
    left: 50%;
    z-index: 1090;
    width: 560px;
    margin-left: -280px;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,0.3);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    outline: none;
}

.media-heading {
    margin: 0 0 5px;
}

.modal-body .cover-wrapper {
    height: auto;
}

.cover-wrapper {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.cover-wrapper .cover {
    display: inline-block;
    max-height: 100%;
}

.modal-body {
    padding: 15px;
}

.modal-body .cover-wrapper .cover {
    max-width: 100% !important;
    width: 100% !important;
}

.library-detail .library-detail-cover-column {
    height: 228px;
    width: 167px;
    position: relative;
}

.library-detail .library-detail-controls-column {
    height: 228px;
    position: relative;
}

.library-detail .library-detail-button-wrapper{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.library-detail .library-detail-button-wrapper :last-child, .library-detail .library-detail-button-wrapper :last-child > div {
    min-height: 26px;
}

.library-detail .cover-shadow {
    box-shadow: 0 1px 4px rgba(0,0,0,0.4);
}

.modal-huge .btn-primary, .modal-mini .btn-primary {
    color: #ffffff;
}

.btn-primary-book-info {
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #666666;
    background-image: linear-gradient(to bottom,#666666,#666666);
    background-repeat: repeat-x;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}

.btn-block {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
}

.btn-small {
    padding: 2px 10px;
    font-size: 11.9px;
    border-radius: 3px;
}

.modal-huge .info {
    margin-top: 8px;
}

.modal-huge .related {
    height: 150px;
}

.modal-huge .info .description, .modal-huge .info .metadata {
    height: 130px;
    overflow-y: auto;
    overflow-x: hidden;
}

.modal-huge .info .metadata {
    width: 30%;
}

.modal-huge .info .metadata {
    height: 130px;
    overflow-y: auto;
    overflow-x: hidden;
}

.row-fluid .thumbnails-info {
    margin-left: 0;
}

.thumbnail-info li:nth-of-type(4n+1) {
    margin-left: 0;
}

.thumbnail-info {
    position: relative;
    width: 92px;
    height: 120px;
    padding: 4px;
    border: 1px;
    overflow: hidden;
    margin: 0 5px 0 0;
}

.thumbnail-info {
    display: block;
    padding: 4px;
    line-height: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.055);
    transition: all .2s ease-in-out;
}

.thumbnail-info {
    cursor: pointer;
}

.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,-0.16);
    background-image: linear-gradient(to bottom,rgba(255,255,255,0.4),#ffffff);
    background-repeat: repeat-x;
}

.caption h5 {
    margin: 2px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*@media screen and (max-width: 700px) {
    .nav {
        display: none;
    }
}*/


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f5f5f5;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #72bf44;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/*MODAL V */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */


/*MODAL /\ */

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@media (min-width: 1100px) {
    .sidenav {
        display: none !important;
    }
}

@media (min-width: 1000px) {
    .sidenav-btn {
        display: none !important;
    }
}

@media (max-width: 700px) {
    .responsive-hide {
        display: none;
    }
}




@media (min-width: 1200px) {
    .information-body {
        height: 650px;
        width: 560px;
        border: 1px;
    }
}

@media (min-width: 1200px) {
    .row-fluid-info-book {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .row-fluid-info-book [class*="span"]:first-child {
        margin-left: 0;
        box-sizing: border-box;
        float: left;
    }
}

@media (min-width: 1200px) {
    .row-fluid-info-book .span8 {
        width: 65.81196581196582%;
    }
}

@media (min-width: 1200px) {
    .span9 {
        width: 355px;
    }
}

@media (min-width: 1200px) {
    .row-fluid-info-book [class*="span"] {
        display: block;
        min-height: 30px;
        box-sizing: border-box;
        float: left;
        margin-left: 2.564102564102564%;
    }
}

@media screen and (min-width: 1200px) {
    .row-fluid-info-book [class*="span"] {
        display: inline;
        min-height: 30px;
        box-sizing: border-box;
        float: left;
        margin-left: 13px;
    }
}

@media screen and (min-width: 1200px) {
    .row-fluid-info-book .span8 {
        width: 65.81196581196582%;
    }
}

@media screen and (min-width: 600px) {
    row-inline {
        display: inline-block;
    }

}

@media (min-width: 1200px) {
    .row-fluid-info-book {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .row-fluid-info-book [class*="span"]:first-child {
        margin-left: 0;
    }
}

@media screen and (min-width: 1200px) {
    .row-fluid-info-book .span6 {
        width: 48%;
    }
}

@media (min-width: 1200px) {
    .row-fluid-info-book:before, .row-fluid:after {
        clear: both;
    }
}

@media (min-width: 1200px) {
    .row-fluid-info-book:before, .row-fluid:after {
        display: table;
        content: "";
        line-height: 0;
    }
}

@media (min-width: 1200px) {
    .row-fluid-info-book .span12 {
        width: 100%;
    }
}