body {
    padding-top: 41px;
    padding-bottom: 41px;
    overflow: auto;
}

body {
    min-height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    background-color: #ffffff;
}

body {
    display: block;
}

body.app {
    position: relative;
}

div, nav, form {
    display: block;
}

a {
    text-decoration: none;
}

a, input, textarea, button {
    outline-style: none !important;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
}

ul, ol {
    padding: 0;
    margin: 0 0 10px 25px;
}

ul, menu, dir {
    display: inline;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

li {
    line-height: 20px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

li {
    line-height: 20px;
}

form {
    margin: 0 0 20px;
}

.navbar {
    overflow: visible;
    margin-bottom: 20px;
}

.navbar-inner {
    min-height: 40px;
    background-color: #ebebeb;
    background-image: linear-gradient(to bottom,#ebebeb,#ebebeb);
    background-repeat: repeat-x;
    border: 1px solid #cccccc;
}

.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
    height: 40px;
    padding-left: 0;
    padding-right: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
    -webkit-box-shadow: 0 1px 10px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 10px rgba(0,0,0,.1);
    box-shadow: 0 1px 10px rgba(0,0,0,.1);
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
    border-width: 0 0 1px;
}

.navbar-fixed-bottom, .navbar-fixed-top {
    position: fixed;
}

.navbar-fixed-bottom {
    bottom: 0;
}

.navbar-fixed-top {
    top: 0;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    margin-bottom: 0;
}

.navbar-static-top {
    border-top: 1px solid #cccccc;
    margin-bottom: 20px;
}

.navbar-static-top {
    position: static;
}

.navbar-search .search-query {
    margin-bottom: 0;
    padding: 4px 14px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.navbar .nav {
    position: relative;
    left: 0;
    display: block;
    float: left;
    margin: 0 10px 0 0;
}

.navbar .btn, .navbar .btn-group {
    margin-top: 5px;
}

.navbar .nav > li {
    float: left;
}

.navbar-search {
    position: relative;
    margin-top: 5px;
    margin-bottom: 0;
}

.nav > li > a {
    display: block;
}

.mall-sidenav .nav > li > a {
    color: #666666;
}

.mall-sidenav .nav-list > li > a, .mall-sidenav .nav-list .nav-header {
    text-shadow: none;
}

.nav-list > li > a {
    padding: 3px 15px;
}

.nav-list > li > a, .nav-list .nav-header {
    margin-left: -15px;
    margin-right: -15px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

.nav {
    margin-left: 0;
    margin-bottom: 20px;
    list-style: none;
}

#mallnav .nav li a {
    color: #666666;
}

.navbar .nav > li > a {
    float: none;
    padding: 10px 15px 10px;
    text-decoration: none;
    text-shadow: 0 1px 0 #ebebeb;
}

.navbar .btn-group .btn, .navbar .input-prepend .btn, .navbar .input-append .btn, .navbar .input-prepend .btn-group, .navbar .input-append .btn-group {
    margin-top: 0;
}

.navbar-fixed-bottom .navbar-inner {
    background-color: #ffffff;
    background-image: linear-gradient(to bottom,#ffffff,#ffffff);
    background-repeat: repeat-x;
}

.navbar {
    overflow: visible;
}

.modal-footer .btn, .sidebar-nav .btn, .navbar .btn {
    color: #ffffff;
    text-shadow: none;
    background-image: linear-gradient(to bottom,#666666,#666666);
    background-repeat: repeat-x;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}

.modal-footer .btn:active, .modal-footer .btn.active, .sidebar-nav .btn:active, .sidebar-nav .btn.active, .navbar .btn:active, .navbar .btn.active {
    background-image: none;
    outline: 0;
    color: #ffffff;
    text-shadow: none;
    background-color: #72bf44;
    background-image: linear-gradient(to bottom,#72bf44,#72bf44);
    background-repeat: repeat-x;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}

.modal-footer .container-fluid, .sidebar-nav .container-fluid, .navbar .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
    height: 35px;
}

.btn-group {
    position: relative;
    display: inline-block;
    font-size: 0;
    vertical-align: middle;
    white-space: nowrap;
}

.btn-group > .btn:first-child {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.btn {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-group.open .btn.dropdown-toggle {
    background-image: none;
    color: #ffffff;
    text-shadow: none;
    background-color: #72bf44;
    background-image: -moz-linear-gradient(top,#72bf44,#72bf44);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#72bf44),to(#72bf44));
    background-image: -webkit-linear-gradient(top,#72bf44,#72bf44);
    background-image: -o-linear-gradient(top,#72bf44,#72bf44);
    background-image: linear-gradient(to bottom,#72bf44,#72bf44);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff72bf44', endColorstr='#ff72bf44', GradientType=0);
    border-color: #72bf44 #72bf44 #50882f;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}
.btn-group.open .btn.dropdown-toggle {
    background-color: #666666;
}

.pull-right {
    height: 35px;
    float: right;
}

.container {
    margin-right: auto;
    margin-left: auto;
}

.container:before, .container:after {
    display: table;
    content: "";
    line-height: 0;
}

.container:after {
    clear: both;
}

.container-fluid:after {
    clear: both;
}
.container-fluid:before, .container-fluid:after {
    display: table;
    content: "";
    line-height: 0;
}

.row {
    margin-left: -20px;
}

.row:after {
    clear: both;
}
.row:before, .row:after {
    display: table;
    content: "";
    line-height: 0;
}

.span3 {
    width: 220px;
}

.mall-sidenav {
    margin: 0 0 0;
    padding: 0;
}

.well {
    min-height: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}

.nav-list {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0;
}

@media screen and (min-width: 1200px) {
     .app #wrapper {
        background-color: #ffffff;
        width: 1200px;
        margin: 0 auto;
        border-left: 1px solid #cccccc;
        border-right: 1px solid #cccccc;
        -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    }
}

@media screen and (min-width: 1200px) {
     .app .navbar-fixed-bottom, .app .navbar-fixed-top {
        margin: 0 auto;
        width: 1200px;
         height: 41px;
        border-left: 1px solid #cccccc;
        border-right: 1px solid #cccccc;
    }
}

@media (min-width: 1200px) {
     .app {
        background-color: #f3f3f3;
    }
}

@media (min-width: 980px) {
    .nav-collapse.collapse {
        height: 35px;
        overflow: visible !important;
    }
}

@media (min-width: 1200px) {
    .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
        width: 1170px;
    }
}

@media (min-width: 1200px) {
    .row-fluid {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .row-fluid:before, .row-fluid:after {
        display: table;
        content: "";
        line-height: 0;
    }
}

@media (min-width: 1200px) {
    .row-fluid:after {
        clear: both;
    }
}

@media (min-width: 1200px) {
    .row-fluid .offset3:first-child {
        margin-left: 25.64102564102564%;
    }
}